In [18]:
import pandas as pd 
import numpy as np

**Cargando la data de Chile, Valdivia**

In [3]:
chile_aqi = pd.read_csv('chile_air_quality.csv')

In [4]:
chile_aqi.head(5)

,locationId,location,city,country,utc,local,parameter,value,unit,latitude,longitude
0,6990,Valdivia 2,Valdivia,CL,2021-08-20T21:00:00+00:00,2021-08-20T20:00:00-01:00,pm25,6,µg/m³,-39.805429,-73.25873
1,6990,Valdivia 2,Valdivia,CL,2021-08-20T21:00:00+00:00,2021-08-20T20:00:00-01:00,pm10,8,µg/m³,-39.805429,-73.25873
2,6990,Valdivia 2,Valdivia,CL,2021-08-20T20:00:00+00:00,2021-08-20T19:00:00-01:00,pm25,1,µg/m³,-39.805429,-73.25873
3,6990,Valdivia 2,Valdivia,CL,2021-08-20T20:00:00+00:00,2021-08-20T19:00:00-01:00,pm10,6,µg/m³,-39.805429,-73.25873
4,6990,Valdivia 2,Valdivia,CL,2021-08-20T19:00:00+00:00,2021-08-20T18:00:00-01:00,pm10,5,µg/m³,-39.805429,-73.25873

In [5]:
chile_aqi.shape

(5676, 11)

In [6]:
chile_aqi.isnull().sum()

locationId    0
location      0
city          0
country       0
utc           0
local         0
parameter     0
value         0
unit          0
latitude      0
longitude     0
dtype: int64

In [7]:
chile_aqi.parameter.unique()

array(['pm25', 'pm10'], dtype=object)

In [8]:
chile_aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5676 entries, 0 to 5675
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   locationId  5676 non-null   int64
 1   location    5676 non-null   object
 2   city        5676 non-null   object
 3   country     5676 non-null   object
 4   utc         5676 non-null   object
 5   local       5676 non-null   object
 6   parameter   5676 non-null   object
 7   value       5676 non-null   int64
 8   unit        5676 non-null   object
 9   latitude    5676 non-null   float64
 10  longitude   5676 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 487.9+ KB

In [9]:
chile_aqi.dtypes

locationId      int64
location       object
city           object
country        object
utc            object
local          object
parameter      object
value           int64
unit           object
latitude      float64
longitude     float64
dtype: object

You should transform utc and local to datetime

**Cargando la data de Mexico, Tlaxcala**

In [10]:
mx_aqi = pd.read_csv('mx_air_quality.csv')

In [11]:
mx_aqi.head(5)

,locationId,location,city,country,utc,local,parameter,value,unit,latitude,longitude
0,235235,Palacio de Gobierno,Tlaxcala,MX,2021-09-22T04:00:00+00:00,2021-09-21T23:00:00-05:00,co,4.693750,ppm,19.317583,-98.237306
1,235235,Palacio de Gobierno,Tlaxcala,MX,2021-09-22T04:00:00+00:00,2021-09-21T23:00:00-05:00,pm25,11.379578,µg/m³,19.317583,-98.237306
2,235235,Palacio de Gobierno,Tlaxcala,MX,2021-09-22T04:00:00+00:00,2021-09-21T23:00:00-05:00,so2,0.668039,ppm,19.317583,-98.237306
3,235235,Palacio de Gobierno,Tlaxcala,MX,2021-09-22T04:00:00+00:00,2021-09-21T23:00:00-05:00,pm10,20.700410,µg/m³,19.317583,-98.237306
4,235235,Palacio de Gobierno,Tlaxcala,MX,2021-09-22T03:00:00+00:00,2021-09-21T22:00:00-05:00,co,5.050694,ppm,19.317583,-98.237306

In [12]:
mx_aqi.shape

(335, 11)

In [13]:
mx_aqi.isnull().sum()

locationId    0
location      0
city          0
country       0
utc           0
local         0
parameter     0
value         0
unit          0
latitude      0
longitude     0
dtype: int64

In [14]:
mx_aqi.dtypes

locationId      int64
location       object
city           object
country        object
utc            object
local          object
parameter      object
value         float64
unit           object
latitude      float64
longitude     float64
dtype: object

**Cargando la Data para mexico, saltillo**

In [29]:
mx_saltillo = pd.read_csv('mx_saltillo.csv')
mx_saltillo.head(5)

,locationId,location,city,country,utc,local,parameter,value,unit,latitude,longitude
0,8006,Finanzas,Saltillo,MX,2021-09-23T18:00:00+00:00,2021-09-23T13:00:00-05:00,so2,0.003317,ppm,25.421472,-100.996861
1,8006,Finanzas,Saltillo,MX,2021-09-23T18:00:00+00:00,2021-09-23T13:00:00-05:00,no2,0.013258,ppm,25.421472,-100.996861
2,8006,Finanzas,Saltillo,MX,2021-09-23T18:00:00+00:00,2021-09-23T13:00:00-05:00,pm10,68.471000,µg/m³,25.421472,-100.996861
3,8006,Finanzas,Saltillo,MX,2021-09-23T18:00:00+00:00,2021-09-23T13:00:00-05:00,o3,0.046686,ppm,25.421472,-100.996861
4,8006,Finanzas,Saltillo,MX,2021-09-23T18:00:00+00:00,2021-09-23T13:00:00-05:00,pm25,19.571000,µg/m³,25.421472,-100.996861

In [31]:
mx_saltillo.shape

(5761, 11)

In [30]:
mx_saltillo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5761 entries, 0 to 5760
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   locationId  5761 non-null   int64
 1   location    5761 non-null   object
 2   city        5761 non-null   object
 3   country     5761 non-null   object
 4   utc         5761 non-null   object
 5   local       5761 non-null   object
 6   parameter   5761 non-null   object
 7   value       5761 non-null   float64
 8   unit        5761 non-null   object
 9   latitude    5761 non-null   float64
 10  longitude   5761 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 495.2+ KB

### Transformando las columnas utc y local de los tres dataframes

In [33]:
chile_aqi.head(2)

,locationId,location,city,country,utc,local,parameter,value,unit,latitude,longitude
0,6990,Valdivia 2,Valdivia,CL,2021-08-20T21:00:00+00:00,2021-08-20T20:00:00-01:00,pm25,6,µg/m³,-39.805429,-73.25873
1,6990,Valdivia 2,Valdivia,CL,2021-08-20T21:00:00+00:00,2021-08-20T20:00:00-01:00,pm10,8,µg/m³,-39.805429,-73.25873

In [43]:
chile_aqi['locationId'].value_counts()

6990    5676
Name: locationId, dtype: int64

In [44]:
chile_aqi['parameter'].unique()

array(['pm25', 'pm10'], dtype=object)

In [46]:
chile_aqi['parameter'].value_counts()

pm10    2839
pm25    2837
Name: parameter, dtype: int64

In [35]:
chile_aqi['utc'] = pd.to_datetime(chile_aqi['utc'])

In [40]:
chile_aqi['local'] = pd.to_datetime(chile_aqi['local'])

In [47]:
chile_aqi['year'] = chile_aqi['utc'].dt.year

In [51]:
chile_aqi['month'] = chile_aqi['utc'].dt.month

In [54]:
chile_aqi['hour_local'] = chile_aqi['local'].dt.hour

In [56]:
chile_aqi['hour_utc'] = chile_aqi['utc'].dt.hour

In [57]:
chile_aqi.head(2)

,locationId,location,city,country,utc,local,parameter,value,unit,latitude,longitude,year,month,hour_local,hour_utc
0,6990,Valdivia 2,Valdivia,CL,2021-08-20 21:00:00+00:00,2021-08-20 20:00:00-01:00,pm25,6,µg/m³,-39.805429,-73.25873,2021,8,20,21
1,6990,Valdivia 2,Valdivia,CL,2021-08-20 21:00:00+00:00,2021-08-20 20:00:00-01:00,pm10,8,µg/m³,-39.805429,-73.25873,2021,8,20,21

In [59]:
chile_avg = chile_aqi.groupby('parameter')['value'].mean()
chile_avg

parameter
pm10    14.827404
pm25     7.323581
Name: value, dtype: float64

**__________________________________________________________**

In [38]:
chile_aqi['date'] = chile_aqi['date'].dt.date

KeyError: 'date'

- Realiza una columna de los años y la fecha completa

- Ve los valores únicos de varias columnas

- Group by por pollutant